@import url(../css/fonts.css);

:root {
  /* Font families */
  --Josefin: 'Josefin', Helvetica, Verdana, 'Times New Roman', Georgia, sans-serif;
  --Lexend: 'Lexend', Helvetica, Verdana, 'Times New Roman', Georgia, sans-serif;
  --Livvic: 'Livvic', Helvetica, Verdana, 'Times New Roman', Georgia, sans-serif;
  /* Font colors */
  --blue: #1DA1FF;
}

* {
  font-family: var(--Josefin);
}

html {
  box-sizing: border-box;
}

.component,
.component::after,
.component::before,
.component *
.component *::afer,
.component *::before {
  box-sizing: inherit;
}

/* .... Global rules .... */
body {
  background: #FFF;
  color: rgb(0, 0, 0);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--blue);
}

ul {
  list-style: none;
  display: inline-flex;
}
/* ..x.. Global rules ..x.. */

.container {
  display: flex;
  flex-flow: row nowrap;
}

.container .box {
  flex: 1 1 auto;
}

header {
  background: #1F2937;
  font-family: var(--Lexend);
  font-weight: bold;
  padding: .2rem;
}

footer {
  background: #1F2937;
  font-weight: bold;
  font-family: var(--Lexend);
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: .2rem;
}