@import url(../css/fonts.css);

html {
  box-sizing: border-box;
}

.component,
.component::after,
.component::before,
.component *
.component *::afer,
.component *::before {
  box-sizing: inherit;
}

/* .... Global rules .... */
body {
  background: #FFF;
  color: rgb(0, 0, 0);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: inline-flex;
}
/* ..x.. Global rules ..x.. */

header {
  background: #1F2937;
  padding: 0 0 20px;
}

footer {
  background: #1F2937;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px;
}